<html>
<head>
    <meta charset="utf-8">
    <title>Songs Homepage - Welcome to My Music Store</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }

        label {
            display: block;
        }

        .lst-songs > div {
            display: flex;
            flex-direction: row;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to My Music Store</h1>
</header>
<main>
    <h2>Choose a song:</h2>
    <form action="/listSongs" method="post">
        <label th:each="song:${songs}">
            <input type="radio" th:value="${song.getTrackId()}" name="trackId">
            <span th:text="|${song.getTitle()} , ${song.getGenre()} , ${song.getReleaseYear()}|"></span>
        </label>
        <input type='submit' value='Submit'>
    </form>
    <ul class="lst-songs">
        <div th:each="song:${songs}">
            <span th:text="|${song.getTitle()} , ${song.getGenre()} , ${song.getReleaseYear()} , ${song.getAlbum().getName()}|"></span>
            <form
                    th:action="@{songs/delete/{id} (id=${song.getId()})}"
                    method="post"
            >
                <button>Delete</button>
            </form>
            <form
                    th:action="@{/songs/edit-form/{id} (id=${song.getId()})}"
                    method="get"
            >
                <button>Edit</button>
            </form>
        </div>
    </ul>
    <button><a href="/songs/add-form">Add new song</a></button>
    <form action="/listSongs" method="get">
        <label>Filter songs by album
            <select name="albumId">
                <option  th:each="album:${albums}"
                         th:value="${album.getId()}"
                         th:text="${album.getName()}"
                >
                </option>
            </select>
        </label>
        <button>Submit</button>
    </form>
</main>
</body>
</html>